.body{
border-left-style:solid;
border-width:2px;
border-color:#e0e0e0
}
#full-width-cover
{
    z-index: -999;
    height: 300px;
    width: 1024px;
	border-radius: 10px;
    border: 3px solid #e0e0e0;

}
#full-width
{
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

}
.overlap
{
	position: relative;
	left: 0; 
	top: 0;
}
.cover
{
	position: absolute;
	top: 16%;
	left: 6.8359%;
	border-radius: 10px;
    border: 3px solid #e0e0e0;

}
.profile-title
{
	position:absolute;
	top: 33.3333%;
    border-left: 2px solid #e0e0e0;

}

.page-header h1.text-white
{
	color:white;
	margin-left: 10px;
}
.dl-horizontal
{
	font-size: 18px;
}
.dl-horizontal dt
{
	line-height: 30px;
}
.dl-horizontal dd
{
	line-height: 30px;
}
.label
{
}